<div id="adaptAnimationFrame_{{guid}}"
     class="adaptAnimationFrame">
    {{{body}}}
    <iframe src="{{entryPointUrl}}"
            frameborder="0"
            width="100%"
            data-height-large="{{height_large}}"
            data-height-medium="{{height_medium}}"
            data-height-small="{{height_small}}"
            allowfullscreen webkitallowfullscreen mozallowfullscreen
            scrolling="no"
            style="overflow: hidden">
    </iframe>
</div>

